.recipe-card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 250px;
  margin: 5px;
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%)
}

.recipe {
  color: red;
}