.recipes-container {
  display: grid;
    grid-template-columns: repeat(auto-fit, 254px);
    grid-gap: 20px;
    justify-content: center;
    margin: 30px auto;
}

.no-favorites {
  text-align: center; 
  font-size: 25px;
  color: #3D323E;
  font-weight: 700;
  margin-top: 150px;
}

.sorry {
  text-align: center;
  font-family: 'Raleway';
  font-size: 30px;
  color: #3D323E;
  margin-top: 150px;
}