.recipes-container {
  display: grid;
    grid-template-columns: repeat(auto-fit, 254px);
    grid-gap: 20px;
    justify-content: center;
    margin: 30px auto;
}

.no-favorites {
  font-size: 25px;
  text-align: center; 
  color: #32636E;
  font-weight: 700;
  margin-top: 50px;
}