.link {

  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px; */
}

.nav-bar {
  display: flex;
  border-top: 4px solid #3D323E;
  border-bottom: 4px solid #3D323E;
  height: 50px;
  width: 1050px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.search-div {
  display: flex;
  flex-direction: flex-end;
  margin-left: 197px;
}

.nav-link {
  border: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 15px;
  color: #3D323E;
  margin-right: 80px;
}

.nav-link:hover {
  cursor: pointer;
  color: #D5AD47;
}

.active {
  font-weight: 700;
}